body{
    display: block;
}
header{
margin:40px;
background-color: white;
border-bottom: 3px solid;
border-color: #000;
display: flex;
justify-content:space-between;
vertical-align: middle;
}
/* 前、次ボタン */
#prev,#next{
    display:none;    
}
#prevLabel,#nextLabel,#space{
    width: 20px;
    height: 20px;
    display: inline-block;
}
/* 日、月ボタン */
#calendorSelect{
  width: 40px;
  height: 40px;
  background-color: white;
}
/* 詳細情報 */
#infoMenu {
  padding: 12px;
  margin-left: 0%;
  background: white;
  }
  #infoCheck, #infoClose { display:none; }
  #infoOpen {
  display: block;
  cursor: pointer;
  border:solid 1px black;
  }
  #infoOpen:hover {
  opacity: 0.5;
  }
  #infoOpen { display: inline-block; }
  #infoClose, #info {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  }
  #infoClose {
  z-index: 2;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
  }
  #info{
  z-index: 3;
  width: 900px;
  background: white;
  transition: 0.5s;
  transform: translateX(+100%);
  overflow: auto;
  }
  #infoCheck:checked ~ #infoClose { display: inline-block; }
  #infoCheck:checked ~ #info{
  transform: translateX(0);
  }
  /*詳細情報変更*/
  #infoUpdateCheck, #infoUpdateClose { display:none; }
  #infoUpdateOpen {
  display: block;
  cursor: pointer;
  border:solid 1px black;
  }
  #infoUpdateOpen:hover {
  opacity: 0.5;
  }
  #infoUpdateOpen { display: inline-block; }
  #infoUpdateClose, #infoUpdate {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  }
  #infoUpdateClose {
  z-index: 4;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
  }
  #infoUpdate{
  z-index: 5;
  width: 900px;
  background: white;
  transition: 0.5s;
  transform: translateX(+100%);
  overflow-y: auto;
  }
  #infoUpdateCheck:checked ~ #infoUpdateClose { display: inline-block; }
  #infoUpdateCheck:checked ~ #infoUpdate{
  transform: translateX(0);
  }
/*カウンセラー追加*/
#plusCounsellorMenu {
  padding: 12px;
  margin-left: 0%;
  background: white;
  display: inline-block;
}
#plusCounsellorCheck, #plusCounsellorClose { display:none; }
#plusCounsellorOpen {
display: inline-block;
cursor: pointer;

}
#plusCounsellorOpen:hover {
opacity: 0.5;
}
#plusCounsellorOpen { display: inline-block; }
#plusCounsellorClose, #plusCounsellorDiv{
position: fixed;
right:0;
top: 0;
height: 100%;
}
#plusCounsellorClose {
z-index: 6;
width: 100%;
background: gray;
opacity: 0.8;
transition: 0.5s;
}
#plusCounsellorDiv{
z-index: 7;
width: 600px;
background: white;
transition: 0.5s;
transform: translateX(+200%);
overflow: auto;
display: none;
}
#plusCounsellorCheck:checked ~ #plusCounsellorClose { display: inline-block; }
#plusCounsellorCheck:checked ~ #plusCounsellorDiv{
transform: translateX(0);
display: inline-block;
}

/* ナビゲーション*/  
#humMenu {
padding: 12px;
margin-left: 0%;
background: white;
}
#humCheck, #humClose { display:none; }
#humOpen {
display: block;
width: 58px;
cursor: pointer;
}
#humOpen:hover {
opacity: 0.5;
}
#humOpen img { display: inline-block; }
#humClose, nav {
position: fixed;
left: 0;
top: 0;
height: 100%;
}
#humClose {
z-index: 2;
width: 100%;
background: gray;
opacity: 0.8;
transition: 0.5s;
}
nav {
z-index: 3;
width: 300px;
background: white;
transition: 0.5s;
transform: translateX(-100%);
}
#humCheck:checked ~ #humClose { display: inline-block; }
#humCheck:checked ~ nav {
transform: translateX(0);
}
ol{
overflow: auto;
list-style: none;
}
nav li{
padding: 15px 0;
margin: 10px 0;
}
nav li:hover{
opacity: 0.5;
}
nav li a{
font-size: 20px;
text-decoration: none;
font-size: 20px;
color: black;
}
.toDoNav{
  background-color: white;
  margin :0%;
  border:0%;
  cursor: pointer;
  width:100%;
  height:100%;
  border-color: white;
  text-align: left;
}
/* 患者選択画面に戻るボタン ?*/
.goPatientSelectLabel{
  display: inline-block;
  background-color: white;
  margin :0%;
  width:100%;
  border: 1px solid;
}
/* チャット*/
.BBS{
  overflow: auto;
  width: 70%;
  height: 600px;
}
.hisBBS{
  display: block;
  width: 100%;
  text-align: left;
}
.yourBBS{
  display: block;
  width: 100%;
  text-align: right;
}
.hisMessage{
  display: inline-block;
  text-align: left;
}
.patientMessage{
  display: inline-block;  
  text-align: left;
  background-color: rgb(0, 187, 255);
}
.yourMessage{
  display: inline-block;
  text-align: left;
  background-color: rgb(127, 255, 170);
}

/*その日にやることフォーム*/
#nowDateToDo,#nowDateToDoDefault,#toDoProcessForm{
  background-color: grey;
  width: fit-content;
  height: fit-content;
  margin-right: auto;  
  margin-bottom: auto;
}

/*ログアウトラベル*/
#logOutLabel{
  display: inline-block;
}
#logOutLabel:hover,#goPatientSelect:hover,#prevLabel:hover,#nextLabel:hover{
  cursor: pointer;
  opacity: 0.5;
}


/*日カレンダー*/
.halfRow{
  height: 100vh / 48vh;
}
.whatTime{
  height: 100vh / 24vh;
}
.time{
  width:70%;
  height: 100%;  
}

#dayCal {
  height: 100vh;
  border-collapse: collapse;
  text-align: center;
  border: 1px;
}
#dayCal,#nowDateToDo,#nowDateToDoDefault,#calPlusForm,#toDoProcessForm{
display: inline-block;
vertical-align: top;
}
  .borderOtop{
    border-left:solid 1px black;
    border-right:solid 1px black;
    border-bottom:solid 1px black;
  }
  .filledTime{
    border:solid 1px black;
    background-color: aqua;
    text-align: left;
    margin :0%;
    height:100%;
    width: 70%;
  }
  .notFilledTime{
    border-left:solid 1px black;
    border-right:solid 1px black;
    margin :0%;
    height:100%;
    width: 70%;  
  }
  .filledTimeBtn:hover{
    cursor: pointer;
    opacity: 0.5;
  }
  .filledTimeBtn{
    border:none;
    background-color: aqua;
    text-align: left;
    margin :0%;
    height:100%;
    width: 100%;
  }
  .borderObottom{
    border-left:solid 1px black;
    border-right:solid 1px black;
    border-top:solid 1px black;
  }
  /*月カレンダー*/
  #nowMonthForm,#monthCal {
    width:1500px;
    height: 100vh;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;

}
.month{
height: 30px;
}
th{
height: 40px;
}
table tr{
  margin :0%;
  width: 100%;
}
.monthCalTr{
  height:200px;
}
  table th,.normDay,.sat,.sun{
    text-align: center;
  }
  .overFlowScroll{
    overflow:scroll;
  }
  .day{
    display: flex;
    table-layout: fixed;
    justify-content: center;
    width:100%;
    height: 100%;
    cursor: pointer;
    background-color: white;
    margin :0%;
  }  
  .time{
    background-color: white;
    margin :0%;
    border:none;
    height:100%;
  }
  .sat{
    color: blue;
  }
  .sun{
    color: red;
  }
  /*日記の追加フォーム*/
  #plusMenu {
    padding: 12px;
    margin-left: 0%;
    background: white;
    display: inline-block;
  }
  #plusCheck, #plusClose { display:none; }
  #plusOpen {
  display: inline-block;
  cursor: pointer;
  
  }
  #plusOpen:hover {
  opacity: 0.5;
  }
  #plusOpen { display: inline-block; }
  #plusClose, #calPlusForm {
  position: fixed;
  left:0;
  top: 0;
  height: 100%;
  }
  #plusClose {
  z-index: 2;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
  }
  #calPlusForm {
  z-index: 3;
  width: 600px;
  background: white;
  transition: 0.5s;
  transform: translateY(+100%);
  overflow: auto;
  }
  #plusCheck:checked ~ #plusClose { display: inline-block; }
  #plusCheck:checked ~ #calPlusForm{
  transform: translateY(0);
  }
  /*日記の変更フォーム*/
  #plusUpdateMenu {
    padding: 12px;
    margin-left: 0%;
    background: white;
    display: inline-block;
    }
    #plusUpdateCheck, #plusUpdateClose { display:none; }
    #plusUpdateOpen {
    display: inline-block;
    cursor: pointer;
    display: none;
    }
    #plusUpdateOpen:hover {
    opacity: 0.5;
    }
    #plusUpdateOpen { display: inline-block; }
    #plusUpdateClose, #calplusUpdateForm {
    position: fixed;
    left:0;
    top: 0;
    height: 100%;
    }
    #plusUpdateClose {
    z-index: 2;
    width: 100%;
    background: gray;
    opacity: 0.8;
    transition: 0.5s;
    }
    #calplusUpdateForm {
    z-index: 3;
    width: 600px;
    background: white;
    transition: 0.5s;
    transform: translateY(+100%);
    overflow: auto;
    }
    
    #plusUpdateCheck:checked ~ #plusUpdateClose { display: inline-block; }
    #plusUpdateCheck:checked ~ #calplusUpdateForm{
    transform: translateY(0);
    }
      
/* 楽しかったこと */      
#FunEvents{
  width: fit-content;
}
/*パスワード*/
  #passCheck, #passClose { display:none; }
  #passOpen {
  display: inline-block;
  cursor: pointer;
  }
  #passOpen:hover {
  opacity: 0.5;
  }
  #passOpen { display: inline-block; }
  #passClose, #pass {
  position: fixed;
  right:0;
  top: 0;
  height: 100%;
  }
  #passClose {
  z-index: 4;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
  }
  #pass {
  z-index: 5;
  width: 600px;
  background: white;
  transition: 0.5s;
  transform: translateY(+100%);
  overflow: auto;
  display: none;
  }
  #passCheck:checked ~ #passClose { display: inline-block; }
  #passCheck:checked ~ #pass{
  transform: translateY(0);
  display: inline-block;
  }

/* 疑似や想像の追加フォーム */
#plusObservationMenu {
  padding: 12px;
  margin-left: 0%;
  background: white;
  display: inline-block;
  }
  #plusObservationCheck, #plusObservationClose { display:none; }
  #plusObservationOpen {
  display: inline-block;
  cursor: pointer;
  
  }
  #plusObservationOpen:hover {
  opacity: 0.5;
  }
  #plusObservationOpen { display: inline-block; }
  #plusObservationClose, #plusObservationForm {
  position: fixed;
  left:0;
  top: 0;
  height: 100%;
  }
  #plusObservationClose {
  z-index: 2;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
  }
  #plusObservationForm {
  z-index: 3;
  width: 1500px;
  background: white;
  transition: 0.5s;
  transform: translateY(+100%);
  overflow: auto;
  }
  #plusObservationCheck:checked ~ #plusObservationClose { display: inline-block; }
  #plusObservationCheck:checked ~ #plusObservationForm{
  transform: translateY(0);
  }

/*想像の文章の追加フォーム*/
#plusImaginationTextMenu {
  padding: 12px;
  margin-left: 0%;
  background: white;
  display: inline-block;
  }
  #plusImaginationTextCheck, #plusImaginationTextClose { display:none; }
  #plusImaginationTextOpen {
  display: inline-block;
  cursor: pointer;
  
  }
  #plusImaginationTextOpen:hover {
  opacity: 0.5;
  }
  #plusImaginationTextOpen { display: inline-block; }
  #plusImaginationTextClose, #plusImaginationTextForm {
  position: fixed;
  left:0;
  top: 0;
  height: 100%;
  }
  #plusImaginationTextClose {
  z-index: 2;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
  }
  #plusImaginationTextForm {
  z-index: 3;
  width: 1500px;
  background: white;
  transition: 0.5s;
  transform: translateY(+100%);
  overflow: auto;
  }
  #plusImaginationTextCheck:checked ~ #plusImaginationTextClose { display: inline-block; }
  #plusImaginationTextCheck:checked ~ #plusImaginationTextForm{
  transform: translateY(0);
  }
/*説明文*/
#descriptionCheck, #descriptionClose { display:none; }
  #descriptionOpen {
  display: inline-block;
  cursor: pointer;
  }
  #descriptionOpen:hover {
  opacity: 0.5;
  }
  #descriptionOpen { display: inline-block; }
  #descriptionClose, #description {
  position: fixed;
  left:0;
  top: 0;
  height: 100%;
  }
  #descriptionClose {
  z-index: 4;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
  }
  #description {
  z-index: 5;
  width: 600px;
  background: white;
  transition: 0.5s;
  transform: translateY(+200%);
  overflow: auto;
  display: none;
  }
  #descriptionCheck:checked ~ #descriptionClose { display: inline-block; }
  #descriptionCheck:checked ~ #description{
  transform: translateY(0);
  display: inline-block;
  }
/**/
#textDescriptionCheck, #textDescriptionClose { display:none; }
  #textDescriptionOpen {
  display: inline-block;
  cursor: pointer;
  }
  #textDescriptionOpen:hover {
  opacity: 0.5;
  }
  #textDescriptionOpen { display: inline-block; }
  #textDescriptionClose, #textDescription {
  position: fixed;
  left:0;
  top: 0;
  height: 100%;
  }
  #textDescriptionClose {
  z-index: 4;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
  }
  #textDescription {
  z-index: 5;
  width: 600px;
  background: white;
  transition: 0.5s;
  transform: translateY(+200%);
  overflow: auto;
  display: none;
  }
  #textDescriptionCheck:checked ~ #textDescriptionClose { display: inline-block; }
  #textDescriptionCheck:checked ~ #textDescription{
  transform: translateY(0);
  display: inline-block;
  }

  #instructionCheck, #instructionClose { display:none; }
  #instructionOpen {
  display: inline-block;
  cursor: pointer;
  }
  #instructionOpen:hover {
  opacity: 0.5;
  }
  #instructionOpen { display: inline-block; }
  #instructionClose, #instruction {
  position: fixed;
  left:0;
  top: 0;
  height: 100%;
  }
  #instructionClose {
  z-index: 4;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
  }
  #instruction {
  z-index: 5;
  width: 600px;
  background: white;
  transition: 0.5s;
  transform: translateY(+200%);
  overflow: auto;
  display: none;
  }
  #instructionCheck:checked ~ #instructionClose { display: inline-block; }
  #instructionCheck:checked ~ #instruction{
  transform: translateY(0);
  display: inline-block;
  }
/**/
#textinstructionCheck, #textinstructionClose { display:none; }
  #textinstructionOpen {
  display: inline-block;
  cursor: pointer;
  }
  #textinstructionOpen:hover {
  opacity: 0.5;
  }
  #textinstructionOpen { display: inline-block; }
  #textinstructionClose, #textinstruction {
  position: fixed;
  left:0;
  top: 0;
  height: 100%;
  }
  #textinstructionClose {
  z-index: 4;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
  }
  #textinstruction {
  z-index: 5;
  width: 600px;
  background: white;
  transition: 0.5s;
  transform: translateY(+200%);
  overflow: auto;
  display: none;
  }
  #textinstructionCheck:checked ~ #textinstructionClose { display: inline-block; }
  #textinstructionCheck:checked ~ #textinstruction{
  transform: translateY(0);
  display: inline-block;
  }
  #plusFrontCoverBBSMenu {
    padding: 12px;
    margin-left: 0%;
    background: white;
    display: inline-block;
    text-align: left;
    }
    #plusFrontCoverBBSForm {
      text-align: left;
      }
    #plusFrontCoverBBSCheck, #plusFrontCoverBBSClose { display:none; }
    #plusFrontCoverBBSOpen {
    display: inline-block;
    cursor: pointer;
    
    }
    #plusFrontCoverBBSOpen:hover {
    opacity: 0.5;
    }
    #plusFrontCoverBBSOpen { display: inline-block; }
    #plusFrontCoverBBSClose, #plusFrontCoverBBSForm {
    position: fixed;
    left:0;
    top: 0;
    height: 100%;
    }
    #plusFrontCoverBBSClose {
    z-index: 2;
    width: 100%;
    background: gray;
    opacity: 0.8;
    transition: 0.5s;
    }
    #plusFrontCoverBBSForm {
    z-index: 3;
    width: 600px;
    background: white;
    transition: 0.5s;
    transform: translateY(+100%);
    overflow: auto;
    }
    #plusFrontCoverBBSCheck:checked ~ #plusFrontCoverBBSClose { display: inline-block; }
    #plusFrontCoverBBSCheck:checked ~ #plusFrontCoverBBSForm{
    transform: translateY(0);
    }

.info{
  display: block;
  justify-content:space-between;
}
  .Red{
    color: red;
}
.btn{
  background-color: white;
  margin :0%;
  border:0%;
  cursor: pointer;
  opacity: 0.5;
  width:100%;
  height:100%;
  border-color: white;
}
.loading{
  display: none;
}
.patientBtn{
background-color: white;
margin :0%;
border:0%;
cursor: pointer;
width:100%;
height:100%;
border-color: white;
text-align: left;
}
.Abstractbtn{
  border: none;
}
.Abstractbtn:hover{
  cursor: pointer;
  opacity: 0.5;
}
.none{
  display:none;
}
.hidden{
  visibility:hidden;
}
#prevImage,#nextImage{
  width:100%;
}
h3,form{
  display: block;
}  
.overFlowAuto{
  overFlow:auto;
}
ul{
  list-style-type: none;
  margin :0%;
  width:100%;
  height:100%;
}
.inlineBlock{
  display: inline-block;
}
.textAlignLeft{
  text-align: left;
}
.textAlignCenter{
  text-align: center;
}
.textAlignRight{
  text-align: right;
}
.border{
  border:solid 1px black;
}
.noneBorder{
  border:none;
}
.textRight{
  text-align: right;
}
.oneSentence{
  display: block;
}
textarea{
  vertical-align: top;
}
#addicInfo,#prevForm,#nextForm,#space{
  display: inline-block;
}
.form{
  display: block;
  }
  .canPush:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  .list{
    overflow: auto;
    list-style: none;
  }
  .z6{
    z-index: 6;
  }
  .Block{
    display: block;
  }
  :disabled{
    background-color: white;
    color: inherit;
    opacity: 1;
  }
  #FunEventsOl{
    height: 30vh;
    overflow: auto;
  }